<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LKNSLog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16D7D3711D3512CF00789DC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D7D38A1D3512D000789DC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D7D3951D3512D000789DC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
